{% extends 'base.html' %}
{% load static %}
{% load markdownify %}
{% block title %}Portfolio - Likkan Chung{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'portfolio/css/portfolio.css' %}">
{% endblock %}
{% block content %}

  <div class="container project-title">
    <h1>Portfolio Projects</h1>
  </div>

  <div class="container project-content">
    {% for project in projects %}
    <a href="{% url 'portfolio:project_detail' pk=project.pk %}" class="card-link">
      <div class="card h-100">
        <div class="card-body text-dark">
          <h5 class="card-title text-dark">{{project.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{project.start_date|date:"D d M Y"}} - {{project.end_date|date:"D d M Y"}}</h6>
          <p class="card-text text-dark portfolio-suppress-link-decoration">{{project.subtitle | truncatechars:280}}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>

{% endblock %}
