{% extends 'base.html' %}
{% load static %}
{% load markdownify %}
{% block title %}Portfolio - Likkan Chung{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'portfolio/css/portfolio.css' %}">
{% endblock %}
{% block content %}

  <div class="container project-title">
    <h1>{{project.title}}</h1>
    <h4>{{project.start_date|date:"D d M Y"}} - {{project.end_date|date:"D d M Y"}}</h4>
  </div>

  <div class="container project-content">
    {{project.text | markdownify}}
  </div>

{% endblock %}
