{% extends 'base.html' %}
{% load static %}
{% load markdownify %}
{% block title %}Likkan Chung{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}
{% block content %}
  <div class="container home-title">
    <div class="row home-row">
      <div class="col-4">
        <img src="{% static 'home/img/profile.jpg' %}" alt="Profile Image" class="home-title-image">
      </div>
      <div class="col-8 home-title-text">
        <span>
          <h1>Likkan Chung</h1>
          <h4>4th Year MSci Computer Science</h4>
        </span>
      </div>
    </div>
  </div>

  <div class="container home-links">
    <div class="row home-row">
      <div class="col-4">
        <div class="home-title-link">
          <a href="/cv">
            <h1>CV</h1>
          </a>
        </div>
      </div>
      <div class="col-8">
        <a href="/cv" class="card-link">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Education: <span class="font-weight-normal">{{education}}</span></h5>
              <h5 class="card-title">Experience: <span class="font-weight-normal">{{experience}}</span></h5>
              <h5 class="card-title">Volunteering: <span class="font-weight-normal">{{volunteering}}</span></h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="container home-links">
    <div class="row home-row">
      <div class="col-4">
        <div class="home-title-link">
          <a href="/portfolio">
            <h1>Portfolio</h1>
          </a>
        </div>
      </div>
      <div class="col-8">
        <div id="carouselPortfolio" class="carousel slide h-100" data-ride="carousel">
          <div class="carousel-inner h-100">
            {% for item in projects %}
            <div class="carousel-item h-100 {% if forloop.counter0 == 0 %}active{% endif %}">
              <a href="{% url 'portfolio:project_detail' pk=item.pk %}" class="card-link">
                <div class="card h-100">
                  <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{item.start_date|date:"M, Y"}} - {{item.end_date|date:"M, Y"}}</h6>
                    <p class="card-text">{{item.subtitle | markdownify | truncatechars:280}}</p>
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container home-links">
    <div class="row home-row">
      <div class="col-4">
        <div class="home-title-link">
          <a href="/blog">
            <h1>Blog</h1>
          </a>
        </div>
      </div>
      <div class="col-8">
        <div id="carouselPortfolio" class="carousel slide h-100" data-ride="carousel">
          <div class="carousel-inner h-100">
            {% for item in posts %}
            <div class="carousel-item h-100 {% if forloop.counter0 == 0 %}active{% endif %}">
              <a href="{% url 'blog:post_detail' pk=item.pk %}" class="card-link">
                <div class="card h-100">
                  <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{item.published_date|date:"D d M Y"}}</h6>
                    <p class="card-text">{{item.text | markdownify | truncatechars:280}}</p>
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
