.cv-title {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.cv-content {
  margin-bottom:2rem;
}

.cv-content h3 {
  margin-bottom: 1rem;
}

.cv-edit a:link, a:hover {
  text-decoration: none;
}

.cv-suppress-link-decoration p a{
  text-decoration: none;
  color: inherit;
}
