{% extends 'base.html' %}
{% load static %}
{% block title %}CV - Likkan Chung{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{% static 'cv/css/cv.css' %}">
{% endblock %}
{% block content %}

  <div class="container cv-title">
    <h1>Lik Kan Chung</h1>
  </div>

  <div class="container cv-content">
    <div class="card-deck">
      {% for item in contact %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{item.type}}</h5>
          <h6 class="card-subtitle text-muted">{{item.detail}}</h6>
        </div>
        {% if user.is_authenticated %}
        <div class="card-footer text-muted">
          <a href="{% url 'cv:cv_edit_contact' pk=item.pk %}" class="cv-edit text-muted">Edit</a>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="container cv-content">
    <h3>Education</h3>
    {% for item in education %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <h6 class="subtitle">{{item.school}}, {{item.location}}</h6>
        <h6 class="subtitle text-muted mb-2">{{item.start_date|date:"M Y"}} - {{item.end_date|date:"M Y"}}</h6>
        <p class="card-text">{{item.text}}</p>
      </div>
      {% if user.is_authenticated %}
      <div class="card-footer text-muted">
        <a href="{% url 'cv:cv_edit_education' pk=item.pk %}" class="cv-edit text-muted">Edit</a>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>

  <div class="container cv-content">
    <h3>Experience</h3>
    {% for item in experience %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{item.role}}</h5>
        <h6 class="subtitle">{{item.location}}</h6>
        <h6 class="subtitle text-muted mb-2">{{item.start_date|date:"M Y"}} - {{item.end_date|date:"M Y"}}</h6>
        <p class="card-text">{{item.text}}</p>
      </div>
      {% if user.is_authenticated %}
      <div class="card-footer text-muted">
        <a href="{% url 'cv:cv_edit_experience' pk=item.pk %}" class="cv-edit text-muted">Edit</a>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>

  <div class="container cv-content">
    <h3>Volunteering</h3>
    {% for item in volunteering %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{item.role}}</h5>
        <h6 class="subtitle">{{item.location}}</h6>
        <h6 class="subtitle text-muted mb-2">{{item.start_date|date:"M Y"}} - {{item.end_date|date:"M Y"}}</h6>
        <p class="card-text">{{item.text}}</p>
      </div>
      {% if user.is_authenticated %}
      <div class="card-footer text-muted">
        <a href="{% url 'cv:cv_edit_volunteering' pk=item.pk %}" class="cv-edit text-muted">Edit</a>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>

{% endblock %}
